@model MercadoCinotam.MainPageContent.Dtos.ContentInput

@{
    Layout = null;
}

<form class="addContent" id="addContent">
    @Html.HiddenFor(a => a.ThemeReferenceId)
    @Html.HiddenFor(a => a.IsStatic)
    @Html.HiddenFor(a => a.ThemeReferenceName)
    @Html.HiddenFor(a => a.Type)
    @Html.HiddenFor(a => a.Id)
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Editar Caracteristicas</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4">
                        <label class="control-label">
                            Tipo de Contenido
                        </label>
                        @(Model.IsStatic ? Html.DropDownListFor(a => a.Type, new SelectList(Model.Types, "Type", "Type"), new { disabled = "disabled", @class = "form-control type" }) : Html.DropDownListFor(a => a.Type, new SelectList(Model.Types, "Type", "Type"), new { @class = "form-control type" }))
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-6">
                        @if (Model.IsStatic)
                        {

                            <label class="control-label">Llave</label>
                            @Html.TextBoxFor(a => a.Key, new { @class = "form-control", disabled = "disabled" })

                        }
                        else
                        {

                            <label class="control-label">Llave</label>
                            @Html.TextBoxFor(a => a.Key, new { @class = "form-control" })

                        }
                    </div>

                    @{
                        Html.RenderPartial("_resolveInputForType", Model);
                    }


                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</form>

<script>
    (function ($) {
        var modalType = "AddContent";
        $(document).ready(function () {
            $("body").on("submit", "#addContent", function (e) {
                e.preventDefault();
                var self = this;
                var selected = $("#Type").val();

                switch (selected) {
                    case "Imagen":
                        var formData = new FormData(self);
                        window.postWithUpload(self, formData,"/Admin/MyStore/AddEditContent",function(responseData) {
                            window.modalInstance.close({}, modalType);
                        });
                        break;
                    default:
                        var data = $(this).serializeFormToObject();
                        abp.ui.setBusy($("#addContent"), abp.services.app.mainContentAdmin.addEditContent(data).done(function (id) {
                            window.modalInstance.close({}, modalType);
                        }));
                }


            });
            $("body").on("change", ".type", function () {
                var value = $(this).val();
                switch (value) {
                    case "Imagen":
                        $("#inputContainer").html("");
                        $("#inputContainer").append('<label class="control-label">Imagen</label><input type="file" class="form-control" name="imagen" />');
                        break;
                    case "Texto":
                        $("#inputContainer").html("");
                        $("#inputContainer").append('<label class="control-label">Valor</label><input type="text" class="form-control" name="Value" />');
                        break;
                    default:
                }
            });
        });
    })($);
</script>