
@model MercadoCinotam.Products.Client.Dtos.ProductList
@{
    Layout = null;
}
@foreach (var product in Model.Products)
{
    <div class="col-lg-6 col-md-6 text-center">
        <div class="service-box">
            <img class="img-responsive img-rounded" style="margin: 0 auto" src="@product.SmallImage" />
            @*<i class="fa fa-4x fa-diamond text-primary sr-icons"></i>*@
            <h3>@product.ProductName</h3>
            <p class="text-muted">@product.ProductPrice</p>
            <br/>
            <p>
                <a href="@Url.Action("Details","Products",new { slug = product.Slug,id = product.Sku})" class="btn btn-info btn-xs">Mas Información</a>
                <a href="@Url.Action("AddToCart","Cart",new {id =product.Sku })" class="btn btn-primary btn-xs">Comprar Ahora!</a>
            </p>
        </div>
    </div>
}
