
@model MercadoCinotam.Products.Client.Dtos.ProductList
@{
    Layout = null;

    var left = true;
}
<style>
    .details-text {
        margin-top: 40px;
        line-height: 25px;
        font-stretch: semi-condensed;
        font-weight: 100;
    }

    .little-container {
        width: 80%;
        margin: 0 auto;
    }

        .little-container ul {
            margin-top: 30px;
        }

            .little-container ul > li {
                margin: 10px;
                font-weight: 100;
                /* font-stretch: inherit; */
                font-size: 1.1em;
                line-height: 30px;
                list-style: none;
            }
</style>
@foreach (var product in Model.Products)
{
    if (left)
    {
        <div class="row">
            <div class="col-sm-12">

                <h2 class="text-center">@product.ProductName</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                <div class="service-box">
                    <img class="img-responsive img-rounded" style="margin: 0 auto" src="@product.MediumImage" />
                    @*<i class="fa fa-4x fa-diamond text-primary sr-icons"></i>*@

                    <h4 class="lead">@product.ProductPrice</h4>
                    <br />
                    <p>
                        @*<a href="@Url.Action("Details","Products",new { slug = product.Slug,id = product.Sku})" class="btn btn-info btn-xs">Mas Información</a>*@
                        <a href="@Url.Action("AddToCart", "Cart", new {id = product.Sku})" class="btn btn-primary btn-sm">Agregar al Carro</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 text-center">
                <div>
                    <h3>Acerca del Producto</h3>
                    <p class="text-justify details-text">
                        @product.ProductDescription
                    </p>
                </div>
            </div>
        </div>
        { Html.RenderAction("GetFeatures", "ViewHelpers", new { id = product.Id }); }
        left = false;
        <hr />
    }
    else
    {
        <div class="row">
            <div class="col-sm-12">

                <h2 class="text-center">@product.ProductName</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="">
                    <h3>Acerca del Producto</h3>
                    <p class="text-justify details-text">
                        @product.ProductDescription
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box">
                    <img class="img-responsive img-rounded" style="margin: 0 auto" src="@product.MediumImage" />
                    @*<i class="fa fa-4x fa-diamond text-primary sr-icons"></i>*@

                    <h4 class="lead">@product.ProductPrice</h4>
                    <br />
                    <p>
                        @*<a href="@Url.Action("Details","Products",new { slug = product.Slug,id = product.Sku})" class="btn btn-info btn-xs">Mas Información</a>*@
                        <a href="@Url.Action("AddToCart", "Cart", new {id = product.Sku})" class="btn btn-primary btn-sm">Agregar al Carro</a>
                    </p>
                </div>
            </div>
        </div>
        { Html.RenderAction("GetFeatures", "ViewHelpers", new { id = product.Id }); }

        left = true;
        <hr />
    }
}
